<div class="table-responsive">
<table class="table table-hover me-5 mt-4 border shadow table-list">
    <thead class="table-list">
      <tr class="table-list">
        <th></th>
        <th>Product</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Discount</th>
        <th>Rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table-list">
      <tr id="products"> </tr>
        <% products.each do |product| %>
          <% if controller_path == 'users/products' && product.user == current_user %>

           <tr id="<%= dom_id(product) %>">
              <%= render 'users/products/product', product: product %>
            </tr>

          <% end %>
        <%end%>
    </tbody>
  </table>
</div>
