.grid-container {
display: grid;
grid-column-gap: 20px;
grid-template-columns: repeat(
  auto-fit,
  minmax(150px, 1fr)
  );
}

.grid-item {
  width: 100%;
  max-width: 320px;
  height: 459px;
  z-index: 1;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .grid-item {
    max-width: 100%;
    height: auto;
  }
}
