#container-show{
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem;
  h1 {
    margin-left: 5rem;
  }
  .discount1{
    margin-left: 5rem;
  }
  .description{
    margin-left: 5rem;
  }
}

.image{
  width: 90%;
  margin-left: 5rem;
}

.review-container{
  position: sticky;
  top: 100px;
}
