.hero-image {
  background-image: url('home-image.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;
}

.hero-text {
  color: white;
  text-shadow: 1px 1px 4px #000;
}
