.navbar {
  background-color: #212529;
  position: sticky !important;
  top: 0;
  z-index: 9999 ;
  height: 100px;
  overflow: visible;
}

.container-fluid {
  overflow: visible !important;
}
 .search{
  width: 40%;
  margin-left: 20rem;
 }
